body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1027px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:50px;
  width:449px;
  height:37px;
  color:#0000FF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:469px;
  top:54px;
  width:150px;
  height:33px;
  color:#993399;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}

#u71 {
  position:absolute;
  left:10px;
  top:50px;
  width:111px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF3300;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:10px;
  top:364px;
  width:1010px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:993px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1010px;
  height:2px;
}
#u74 {
  position:absolute;
  left:790px;
  top:83px;
  width:130px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u75 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:920px;
  top:96px;
  width:100px;
  height:25px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u77 {
  position:absolute;
  left:10px;
  top:120px;
  width:1015px;
  height:275px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:163px;
  top:0px;
  width:459px;
  height:30px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:455px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:622px;
  top:0px;
  width:82px;
  height:30px;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:704px;
  top:0px;
  width:91px;
  height:30px;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:795px;
  top:0px;
  width:88px;
  height:30px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:883px;
  top:0px;
  width:127px;
  height:30px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:0px;
  top:30px;
  width:163px;
  height:119px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:119px;
}
#u91 {
  position:absolute;
  left:2px;
  top:52px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:163px;
  top:30px;
  width:459px;
  height:119px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:119px;
}
#u93 {
  position:absolute;
  left:2px;
  top:52px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:622px;
  top:30px;
  width:82px;
  height:119px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:119px;
}
#u95 {
  position:absolute;
  left:2px;
  top:52px;
  width:78px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:704px;
  top:30px;
  width:91px;
  height:119px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:119px;
}
#u97 {
  position:absolute;
  left:2px;
  top:52px;
  width:87px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:795px;
  top:30px;
  width:88px;
  height:119px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:119px;
}
#u99 {
  position:absolute;
  left:2px;
  top:52px;
  width:84px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:883px;
  top:30px;
  width:127px;
  height:119px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:119px;
}
#u101 {
  position:absolute;
  left:2px;
  top:52px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:0px;
  top:149px;
  width:163px;
  height:121px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:121px;
}
#u103 {
  position:absolute;
  left:2px;
  top:52px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:163px;
  top:149px;
  width:459px;
  height:121px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:121px;
}
#u105 {
  position:absolute;
  left:2px;
  top:52px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:622px;
  top:149px;
  width:82px;
  height:121px;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:121px;
}
#u107 {
  position:absolute;
  left:2px;
  top:52px;
  width:78px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:704px;
  top:149px;
  width:91px;
  height:121px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:121px;
}
#u109 {
  position:absolute;
  left:2px;
  top:52px;
  width:87px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:795px;
  top:149px;
  width:88px;
  height:121px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:121px;
}
#u111 {
  position:absolute;
  left:2px;
  top:52px;
  width:84px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:883px;
  top:149px;
  width:127px;
  height:121px;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:121px;
}
#u113 {
  position:absolute;
  left:2px;
  top:52px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:29px;
  top:427px;
  width:100px;
  height:16px;
}
#u115 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u114_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u116 {
  position:absolute;
  left:56px;
  top:461px;
  width:100px;
  height:100px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u117 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:28px;
  top:471px;
  width:100px;
  height:16px;
}
#u119 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u120 {
  position:absolute;
  left:176px;
  top:479px;
  width:230px;
  height:62px;
  font-size:14px;
  color:#0000FF;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:62px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:906px;
  top:466px;
  width:100px;
  height:25px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u124 {
  position:absolute;
  left:906px;
  top:225px;
  width:100px;
  height:25px;
}
#u124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u125 {
  position:absolute;
  left:54px;
  top:280px;
  width:100px;
  height:100px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u126 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:26px;
  top:290px;
  width:100px;
  height:16px;
}
#u128 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u129 {
  position:absolute;
  left:176px;
  top:298px;
  width:230px;
  height:62px;
  font-size:14px;
  color:#0000FF;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:62px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:906px;
  top:286px;
  width:100px;
  height:25px;
}
#u132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u133 {
  position:absolute;
  left:906px;
  top:345px;
  width:100px;
  height:25px;
}
#u133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u134 {
  position:absolute;
  left:90px;
  top:4px;
  width:90px;
  height:25px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u135 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u134_ref {
  position:absolute;
  left:172px;
  top:19px;
  width:1px;
  height:1px;
}
