body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1027px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:50px;
  width:449px;
  height:37px;
  color:#0000FF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:469px;
  top:54px;
  width:150px;
  height:33px;
  color:#993399;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:4px;
  width:850px;
  height:31px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u7 {
  position:absolute;
  left:2px;
  top:5px;
  width:75px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:79px;
  top:0px;
  width:78px;
  height:26px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
}
#u9 {
  position:absolute;
  left:2px;
  top:5px;
  width:74px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:157px;
  top:0px;
  width:342px;
  height:26px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:26px;
}
#u11 {
  position:absolute;
  left:2px;
  top:5px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:499px;
  top:0px;
  width:121px;
  height:26px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u13 {
  position:absolute;
  left:2px;
  top:5px;
  width:112px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:620px;
  top:0px;
  width:54px;
  height:26px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
}
#u15 {
  position:absolute;
  left:2px;
  top:5px;
  width:50px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:674px;
  top:0px;
  width:53px;
  height:26px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
}
#u17 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:727px;
  top:0px;
  width:118px;
  height:26px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:26px;
}
#u19 {
  position:absolute;
  left:2px;
  top:5px;
  width:114px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:680px;
  top:49px;
  width:230px;
  height:41px;
}
#u20_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:280px;
  height:91px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:909px;
  top:49px;
  width:100px;
  height:41px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:10px;
  top:250px;
  width:1022px;
  height:35px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:174px;
  top:0px;
  width:174px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:170px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:348px;
  top:0px;
  width:167px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:163px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:515px;
  top:0px;
  width:167px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:6px;
  width:163px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:682px;
  top:0px;
  width:335px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:331px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:10px;
  top:100px;
  width:1017px;
  height:150px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:150px;
}
#u36 {
  position:absolute;
  left:2px;
  top:67px;
  width:1013px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:630px;
  top:4px;
  width:60px;
  height:25px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u37_ref {
  position:absolute;
  left:682px;
  top:19px;
  width:1px;
  height:1px;
}
#u39 {
  position:absolute;
  left:690px;
  top:4px;
  width:50px;
  height:25px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u40 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u39_ref {
  position:absolute;
  left:732px;
  top:19px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:740px;
  top:4px;
  width:115px;
  height:25px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:111px;
  word-wrap:break-word;
}
#u41_ref {
  position:absolute;
  left:847px;
  top:19px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:510px;
  top:4px;
  width:120px;
  height:25px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u43_ref {
  position:absolute;
  left:622px;
  top:19px;
  width:1px;
  height:1px;
}
#u45 {
  position:absolute;
  left:10px;
  top:4px;
  width:80px;
  height:25px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u46 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u45_ref {
  position:absolute;
  left:82px;
  top:19px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:90px;
  top:4px;
  width:80px;
  height:25px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u48 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:680px;
  top:49px;
  width:230px;
  height:41px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u50 {
  position:absolute;
  left:910px;
  top:49px;
  width:99px;
  height:41px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF6633;
  text-align:center;
}
#u51 {
  position:absolute;
  left:29px;
  top:256px;
  width:109px;
  height:125px;
}
#u51_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-size:16px;
}
#u53 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u53_img.selected {
}
#u53.selected {
}
#u54 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u56 {
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u52_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57 {
  position:absolute;
  left:20px;
  top:20px;
  width:56px;
  height:20px;
  font-size:14px;
}
#u58 {
  position:absolute;
  left:22px;
  top:0px;
  width:34px;
  height:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u59 {
  position:absolute;
  left:3px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:20px;
  top:40px;
  width:56px;
  height:20px;
  font-size:14px;
}
#u61 {
  position:absolute;
  left:22px;
  top:0px;
  width:34px;
  height:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u62 {
  position:absolute;
  left:3px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:20px;
  top:60px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u64 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u65 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:20px;
  top:80px;
  width:56px;
  height:20px;
  font-size:14px;
}
#u67 {
  position:absolute;
  left:22px;
  top:0px;
  width:34px;
  height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u68 {
  position:absolute;
  left:3px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:20px;
  top:100px;
  width:56px;
  height:20px;
  font-size:14px;
}
#u70 {
  position:absolute;
  left:22px;
  top:0px;
  width:34px;
  height:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u71 {
  position:absolute;
  left:3px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
