body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:11px;
  top:20px;
  width:449px;
  height:37px;
  color:#0000FF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:20px;
  top:67px;
  width:150px;
  height:33px;
  color:#993399;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:220px;
  top:64px;
  width:190px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:182px;
  width:90px;
  height:40px;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:100px;
  top:297px;
  width:90px;
  height:40px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:100px;
  top:243px;
  width:90px;
  height:40px;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:230px;
  top:187px;
  width:270px;
  height:30px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:230px;
  top:248px;
  width:270px;
  height:30px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:230px;
  top:302px;
  width:270px;
  height:30px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:79px;
  top:347px;
  width:111px;
  height:40px;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:230px;
  top:355px;
  width:110px;
  height:30px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:400px;
  top:355px;
  width:100px;
  height:30px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:100px;
  top:433px;
  width:400px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:396px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:630px;
  top:129px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:860px;
  top:129px;
  width:100px;
  height:45px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u24_ref {
  position:absolute;
  left:952px;
  top:164px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:20px;
  top:146px;
  width:480px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:4px;
  width:480px;
  height:3px;
}
#u27 {
  position:absolute;
  left:100px;
  top:433px;
  width:400px;
  height:40px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#009900;
  text-align:center;
}
