<!DOCTYPE html>
<html>
  <head>
    <title>商品详情</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/files/details/styles.css" type="text/css" rel="stylesheet"/>
    <script src="/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="/resources/scripts/axure/axQuery.js"></script>
    <script src="/resources/scripts/axure/globals.js"></script>
    <script src="/resources/scripts/axutils.js"></script>
    <script src="/resources/scripts/axure/annotation.js"></script>
    <script src="/resources/scripts/axure/axQuery.std.js"></script>
    <script src="/resources/scripts/axure/doc.js"></script>
    <script src="/data/document.js"></script>
    <script src="/resources/scripts/messagecenter.js"></script>
    <script src="/resources/scripts/axure/events.js"></script>
    <script src="/resources/scripts/axure/action.js"></script>
    <script src="/resources/scripts/axure/expr.js"></script>
    <script src="/resources/scripts/axure/geometry.js"></script>
    <script src="/resources/scripts/axure/flyout.js"></script>
    <script src="/resources/scripts/axure/ie.js"></script>
    <script src="/resources/scripts/axure/model.js"></script>
    <script src="/resources/scripts/axure/repeater.js"></script>
    <script src="/resources/scripts/axure/sto.js"></script>
    <script src="/resources/scripts/axure/utils.temp.js"></script>
    <script src="/resources/scripts/axure/variables.js"></script>
    <script src="/resources/scripts/axure/drag.js"></script>
    <script src="/resources/scripts/axure/move.js"></script>
    <script src="/resources/scripts/axure/visibility.js"></script>
    <script src="/resources/scripts/axure/style.js"></script>
    <script src="/resources/scripts/axure/adaptive.js"></script>
    <script src="/resources/scripts/axure/tree.js"></script>
    <script src="/resources/scripts/axure/init.temp.js"></script>
    <script src="/files/details/data.js"></script>
    <script src="/resources/scripts/axure/legacy.js"></script>
    <script src="/resources/scripts/axure/viewer.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return '/resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return '/resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return '/resources/reload.html'; };
    </script>
    <script type="text/javascript">
    $(document).ready(function(){
    	$("#u9_input").click(function(){
    		$("#buyForm").attr("action","/c/add");
    		$("#buyForm").submit();
    	});
    	
    });
    
    </script>
   	<style type="text/css">
   		.content{
   			margin-top:140px;
   			padding-top : 50px;
   		}
   	</style>
  </head>
  <body>
    <div id="base" class="">
      
      <div class="ax_paragraph">
        <img  class="img " src="/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div  class="text">
          <p style="font-size:32px;text-align:left;"><a id="u4" href="/" class="link"><span style="font-size:32px;color:#0000FF;text-align:left;">大连理工大学校园电子商务系统</span></a><span style="font-size:32px;color:#0000FF;text-align:left;"></span></p><p style="font-size:20px;text-align:right;"><span style="font-size:20px;color:#1E1E1E;text-align:right;">&nbsp;</span></p>
        </div>
      </div>

      <div class="ax_horizontal_line">
        <img id="u5_start" class="img " src="/resources/images/transparent.gif" alt="u5_start"/>
        <img id="u5_end" class="img " src="/resources/images/transparent.gif" alt="u5_end"/>
        <img id="u5_line" class="img " src="/images/buy/u26_line.png" alt="u5_line"/>
      </div>
    
      <div id="u0" class="ax_image" class="content">
        <img id="u0_img" class="img " src="/images/${(commodity.image)}"/>
        <div id="u1" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u2" class="ax_shape">
        <img id="u2_img" class="img " src="/images/details/regen/u2.png"/>
        <!-- Unnamed () -->
        <div class="text">
          <p><a href="#" class="link"><span>${(commodity.name)}</span></a></p>
        </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u5" class="ax_shape">
        <img id="u5_img" class="img " src="/images/details/regen/u5.png"/>
        <!-- Unnamed () -->
        <div id="u6" class="text">
          <p><span>数量</span></p>
        </div>
      </div>

	<form action="/o/buy" id="buyForm" method="post">
      <!-- Unnamed (Text Field) -->
      <div id="u7" class="ax_text_field">
         <input type="text" name="quantity" value="1"/>
      </div>
	<input type="hidden" name="commodity_id" value="${commodity.id}"/>
	<input type="hidden" name="price" value="${commodity.price}"/>
	
      <div id="u8" class="ax_html_button">
        <input id="u8_input" type="submit" value="立即购买"/>
      </div>
	</form>
      <!-- Add to cart form -->
      <div id="u9" class="ax_html_button">
        <input id="u9_input" type="button" value="加入购物车"/>
      </div>
	
      <!-- Unnamed (Shape) -->
      <div id="u10" class="ax_shape">
        <img id="u10_img" class="img " src="/images/details/regen/u5.png"/>
        <!-- Unnamed () -->
        <div id="u11" class="text">
          <p><span>价格</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u12" class="ax_shape">
        <img id="u12_img" class="img " src="/images/details/regen/u12.png"/>
        <!-- Unnamed () -->
        <div id="u13" class="text">
          <p><span>¥ &nbsp;${(commodity.price)}</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u14" class="ax_shape">
        <img id="u14_img" class="img " src="/images/details/regen/u14.png"/>
        <!-- Unnamed () -->
        <div id="u15" class="text">
          <p><span>商</span><span>品详情</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u16" class="ax_shape">
        <img id="u16_img" class="img " src="/images/details/regen/u16.png"/>
        <!-- Unnamed () -->
        <div id="u17" class="text">
          <p>${(commodity.introduction)}</p>
        </div>
      </div>
      <div id="u18_ref" class="reference_page"></div>
  </body>
</html>
