<!DOCTYPE html>
<html>
  <head>
    <title>mysale</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/files/mysale/styles.css" type="text/css" rel="stylesheet"/>
    <script src="/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="/resources/scripts/axure/axQuery.js"></script>
    <script src="/resources/scripts/axure/globals.js"></script>
    <script src="/resources/scripts/axutils.js"></script>
    <script src="/resources/scripts/axure/annotation.js"></script>
    <script src="/resources/scripts/axure/axQuery.std.js"></script>
    <script src="/resources/scripts/axure/doc.js"></script>
    <script src="/data/document.js"></script>
    <script src="/resources/scripts/messagecenter.js"></script>
    <script src="/resources/scripts/axure/events.js"></script>
    <script src="/resources/scripts/axure/action.js"></script>
    <script src="/resources/scripts/axure/expr.js"></script>
    <script src="/resources/scripts/axure/geometry.js"></script>
    <script src="/resources/scripts/axure/flyout.js"></script>
    <script src="/resources/scripts/axure/ie.js"></script>
    <script src="/resources/scripts/axure/model.js"></script>
    <script src="/resources/scripts/axure/repeater.js"></script>
    <script src="/resources/scripts/axure/sto.js"></script>
    <script src="/resources/scripts/axure/utils.temp.js"></script>
    <script src="/resources/scripts/axure/variables.js"></script>
    <script src="/resources/scripts/axure/drag.js"></script>
    <script src="/resources/scripts/axure/move.js"></script>
    <script src="/resources/scripts/axure/visibility.js"></script>
    <script src="/resources/scripts/axure/style.js"></script>
    <script src="/resources/scripts/axure/adaptive.js"></script>
    <script src="/resources/scripts/axure/tree.js"></script>
    <script src="/resources/scripts/axure/init.temp.js"></script>
    <script src="/files/mysale/data.js"></script>
    <script src="/resources/scripts/axure/legacy.js"></script>
    <script src="/resources/scripts/axure/viewer.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Shape) -->
      <div id="u0" class="ax_h1">
        <img id="u0_img" class="img " src="/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u1" class="text">
          <p><a id="u2" class="link"><span>大连理工大学校园电子商务系统</span></a></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u3" class="ax_shape">
        <img id="u3_img" class="img " src="/images/home/u3.png"/>
        <!-- Unnamed () -->
        <div id="u4" class="text">
          <p><span>校</span><span>园购物优选</span></p>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u5" class="ax_table">

        <!-- Unnamed (Table Cell) -->
        <div id="u6" class="ax_table_cell">
          <img id="u6_img" class="img " src="/images/home/u6.png"/>
          <!-- Unnamed () -->
          <div id="u7" class="text">
            <p><a id="u8" class="link"><span>加</span><span>入收藏</span></a></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u9" class="ax_table_cell">
          <img id="u9_img" class="img " src="/images/home/u9.png"/>
          <!-- Unnamed () -->
          <div id="u10" class="text">
            <p><a id="u11" class="link"><span>我要卖东西</span></a></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u12" class="ax_table_cell">
          <img id="u12_img" class="img " src="/images/home/u12.png"/>
          <!-- Unnamed () -->
          <div id="u13" class="text">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14" class="ax_table_cell">
          <img id="u14_img" class="img " src="/images/home/u14.png"/>
          <!-- Unnamed () -->
          <div id="u15" class="text">
            <p><a id="u16" class="link"><span>我的订单</span></a></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u17" class="ax_table_cell">
          <img id="u17_img" class="img " src="/images/home/u17.png"/>
          <!-- Unnamed () -->
          <div id="u18" class="text">
            <p><a id="u19" class="link"><span>登陆</span></a></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u20" class="ax_table_cell">
          <img id="u20_img" class="img " src="/images/home/u20.png"/>
          <!-- Unnamed () -->
          <div id="u21" class="text">
            <p><a id="u22" class="link"><span>注</span><span>册</span></a></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u23" class="ax_table_cell">
          <img id="u23_img" class="img " src="/images/home/u23.png"/>
          <!-- Unnamed () -->
          <div id="u24" class="text">
            <p><a id="u25" class="link"><span>查</span><span>看购物车</span></a></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u26" class="ax_shape">
        <img id="u26_img" class="img " src="/images/home/u26.png"/>
        <!-- Unnamed () -->
        <div id="u27" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u28" class="ax_shape">
        <img id="u28_img" class="img " src="/images/home/u28.png"/>
        <!-- Unnamed () -->
        <div id="u29" class="text">
          <p><span>搜</span><span>索</span></p>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u30" class="ax_table">

        <!-- Unnamed (Table Cell) -->
        <div id="u31" class="ax_table_cell">
          <img id="u31_img" class="img " src="/images/home/u31.png"/>
          <!-- Unnamed () -->
          <div id="u32" class="text">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u33" class="ax_table_cell">
          <img id="u33_img" class="img " src="/images/home/u31.png"/>
          <!-- Unnamed () -->
          <div id="u34" class="text">
            <p><span>热销商品</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u35" class="ax_table_cell">
          <img id="u35_img" class="img " src="/images/home/u35.png"/>
          <!-- Unnamed () -->
          <div id="u36" class="text">
            <p><span>最新活动</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u37" class="ax_table_cell">
          <img id="u37_img" class="img " src="/images/home/u35.png"/>
          <!-- Unnamed () -->
          <div id="u38" class="text">
            <p><span>校</span><span>园优惠</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u39" class="ax_table_cell">
          <img id="u39_img" class="img " src="/images/home/u39.png"/>
          <!-- Unnamed () -->
          <div id="u40" class="text">
            <p><span>联</span><span>系店铺</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u41" class="ax_image">
        <img id="u41_img" class="img " src="/images/home/u41.png"/>
        <!-- Unnamed () -->
        <div id="u42" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u43" class="ax_text_field">
        <input id="u43_input" type="text" value=""/>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u44" class="ax_html_button">
        <input id="u44_input" type="submit" value="搜索"/>
      </div>

      <!-- Unnamed (Tree) -->
      <div id="u45" class="ax_tree_node treeroot">
        <div id="u45_children" class="u45_children">

          <!-- Unnamed (Tree Node) -->
          <div id="u46" class="ax_tree_node treenode">

            <!-- Unnamed (Image) -->
            <div id="u47" class="ax_image">
              <img id="u47_img" class="img " src="/images/home/u47.png"/>
              <!-- Unnamed () -->
              <div id="u48" class="text">
                <p><span></span></p>
              </div>
            </div>
            <!-- Unnamed (Shape) -->
            <div id="u49" class="" selectiongroup="u45_tree_group">
              <img id="u49_img" class="img " src="/resources/images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u50" class="text">
                <p><span>全部分类</span></p>
              </div>
            </div>
            <div id="u46_children" class="u46_children" style="visibility:hidden;">

              <!-- Unnamed (Tree Node) -->
              <div id="u51" class="ax_tree_node treenode">
                <!-- Unnamed (Shape) -->
                <div id="u52" class="" selectiongroup="u45_tree_group">
                  <img id="u52_img" class="img " src="/resources/images/transparent.gif"/>
                  <!-- Unnamed () -->
                  <div id="u53" class="text">
                    <p><span>服</span><span>装</span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (Tree Node) -->
              <div id="u54" class="ax_tree_node treenode">
                <!-- Unnamed (Shape) -->
                <div id="u55" class="" selectiongroup="u45_tree_group">
                  <img id="u55_img" class="img " src="/resources/images/transparent.gif"/>
                  <!-- Unnamed () -->
                  <div id="u56" class="text">
                    <p><span>数</span><span>码</span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (Tree Node) -->
              <div id="u57" class="ax_tree_node treenode">
                <!-- Unnamed (Shape) -->
                <div id="u58" class="" selectiongroup="u45_tree_group">
                  <img id="u58_img" class="img " src="/resources/images/transparent.gif"/>
                  <!-- Unnamed () -->
                  <div id="u59" class="text">
                    <p><span>生</span><span>活用品</span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (Tree Node) -->
              <div id="u60" class="ax_tree_node treenode">
                <!-- Unnamed (Shape) -->
                <div id="u61" class="" selectiongroup="u45_tree_group">
                  <img id="u61_img" class="img " src="/resources/images/transparent.gif"/>
                  <!-- Unnamed () -->
                  <div id="u62" class="text">
                    <p><span>食</span><span>品</span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (Tree Node) -->
              <div id="u63" class="ax_tree_node treenode">
                <!-- Unnamed (Shape) -->
                <div id="u64" class="" selectiongroup="u45_tree_group">
                  <img id="u64_img" class="img " src="/resources/images/transparent.gif"/>
                  <!-- Unnamed () -->
                  <div id="u65" class="text">
                    <p><span>书</span><span>籍</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u66" class="ax_shape">
        <img id="u66_img" class="img " src="/images/mysale/u66.png"/>
        <!-- Unnamed () -->
        <div id="u67" class="text">
          <p style="font-size:20px;"><a id="u68" class="link"><span style="font-size:20px;text-decoration:underline;color:#0000FF;">商</span><span style="font-size:20px;text-decoration:underline;color:#0000FF;">品</span></a><span style="font-size:20px;color:#333333;">&gt;</span><span style="font-size:16px;color:#333333;">我已上架商品</span></p>
        </div>
      </div>

      <!-- Unnamed (Horizontal Line) -->
      <div id="u69" class="ax_horizontal_line">
        <img id="u69_start" class="img " src="/resources/images/transparent.gif" alt="u69_start"/>
        <img id="u69_end" class="img " src="/resources/images/transparent.gif" alt="u69_end"/>
        <img id="u69_line" class="img " src="/images/mysale/u69_line.png" alt="u69_line"/>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u70" class="ax_table">

        <!-- Unnamed (Table Cell) -->
        <div id="u71" class="ax_table_cell">
          <img id="u71_img" class="img " src="/images/mysale/u71.png"/>
          <!-- Unnamed () -->
          <div id="u72" class="text">
            <p><span>商</span><span>品图片</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u73" class="ax_table_cell">
          <img id="u73_img" class="img " src="/images/mysale/u73.png"/>
          <!-- Unnamed () -->
          <div id="u74" class="text">
            <p><span>商</span><span>品名称</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u75" class="ax_table_cell">
          <img id="u75_img" class="img " src="/images/mysale/u75.png"/>
          <!-- Unnamed () -->
          <div id="u76" class="text">
            <p><span>商</span><span>品分类</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u77" class="ax_table_cell">
          <img id="u77_img" class="img " src="/images/mysale/u75.png"/>
          <!-- Unnamed () -->
          <div id="u78" class="text">
            <p><span>上</span><span>架时间</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u79" class="ax_table_cell">
          <img id="u79_img" class="img " src="/images/mysale/u75.png"/>
          <!-- Unnamed () -->
          <div id="u80" class="text">
            <p><span>上架</span><span>数量</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u81" class="ax_table_cell">
          <img id="u81_img" class="img " src="/images/mysale/u75.png"/>
          <!-- Unnamed () -->
          <div id="u82" class="text">
            <p><span>出</span><span>售状态</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u83" class="ax_table_cell">
          <img id="u83_img" class="img " src="/images/mysale/u83.png"/>
          <!-- Unnamed () -->
          <div id="u84" class="text">
            <p><span>操</span><span>作</span></p>
          </div>
        </div>
		<#if mysale ??>
		<#list mysale as a>
        <!-- Unnamed (Table Cell) -->
        <div class="ax_table_cell">
          <img id="u85_img" class="img " src="/images/mysale/u85.png"/>
          <!-- Unnamed () -->
          <div id="u86" class="text">
            <img class="img " src="//images/${(a.image)}"/>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div class="ax_table_cell">
          <img id="u87_img" class="img " src="/images/mysale/u87.png"/>
          <!-- Unnamed () -->
          <div id="u88" class="text">
            <p><a id="u89" class="link" href="/g/one?id=${(a.commodity_id)}">${(a.name)}</a></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div class="ax_table_cell">
          <img id="u90_img" class="img " src="/images/mysale/u90.png"/>
          <!-- Unnamed () -->
          <div id="u91" class="text">
            <p><span>${(a.cate_id)}</span></a></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div class="ax_table_cell">
          <img id="u93_img" class="img " src="/images/mysale/u90.png"/>
          <!-- Unnamed () -->
          <div id="u94" class="text">
            <p><span>${(a.time)}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div class="ax_table_cell">
          <img id="u95_img" class="img " src="/images/mysale/u90.png"/>
          <!-- Unnamed () -->
          <div id="u96" class="text">
            <p><span>${(a.quantity)}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div class="ax_table_cell">
          <img id="u97_img" class="img " src="/images/mysale/u90.png"/>
          <!-- Unnamed () -->
          <div id="u98" class="text">
            <p><span>已</span><span>售出${(a.sales_num)}</span><span>件</span></p>
          </div>
        </div>
		</#list>
		</#if>

      <!-- Unnamed (Shape) -->
      <div id="u142" class="ax_shape">
        <img id="u142_img" class="img " src="/images/mysale/u142.png"/>
        <!-- Unnamed () -->
        <div id="u143" class="text">
          <p><a id="u144" class="link"><span>返回继续上架</span></a></p>
        </div>
      </div>

      <!-- Unnamed (Flow Shape) -->
      <div id="u145" class="ax_flow_shape">
        <img id="u145_img" class="img " src="/images/home/u81.png"/>
        <!-- Unnamed () -->
        <div id="u146" class="text">
          <p><span>add</span></p>
        </div>
      </div>

      <!-- Unnamed (Flow Shape) [reference page] -->
      <div id="u145_ref" class="reference_page"></div>
    </div>
  </body>
</html>
