<!DOCTYPE html>
<html>
  <head>
    <title>register</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/files/register/styles.css" type="text/css" rel="stylesheet"/>
    <script src="/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="/resources/scripts/axure/axQuery.js"></script>
    <script src="/resources/scripts/axure/globals.js"></script>
    <script src="/resources/scripts/axutils.js"></script>
    <script src="/resources/scripts/axure/annotation.js"></script>
    <script src="/resources/scripts/axure/axQuery.std.js"></script>
    <script src="/resources/scripts/axure/doc.js"></script>
    <script src="/data/document.js"></script>
    <script src="/resources/scripts/messagecenter.js"></script>
    <script src="/resources/scripts/axure/events.js"></script>
    <script src="/resources/scripts/axure/action.js"></script>
    <script src="/resources/scripts/axure/expr.js"></script>
    <script src="/resources/scripts/axure/geometry.js"></script>
    <script src="/resources/scripts/axure/flyout.js"></script>
    <script src="/resources/scripts/axure/ie.js"></script>
    <script src="/resources/scripts/axure/model.js"></script>
    <script src="/resources/scripts/axure/repeater.js"></script>
    <script src="/resources/scripts/axure/sto.js"></script>
    <script src="/resources/scripts/axure/utils.temp.js"></script>
    <script src="/resources/scripts/axure/variables.js"></script>
    <script src="/resources/scripts/axure/drag.js"></script>
    <script src="/resources/scripts/axure/move.js"></script>
    <script src="/resources/scripts/axure/visibility.js"></script>
    <script src="/resources/scripts/axure/style.js"></script>
    <script src="/resources/scripts/axure/adaptive.js"></script>
    <script src="/resources/scripts/axure/tree.js"></script>
    <script src="/resources/scripts/axure/init.temp.js"></script>
    <script src="/files/register/data.js"></script>
    <script src="/resources/scripts/axure/legacy.js"></script>
    <script src="/resources/scripts/axure/viewer.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Shape) -->
      <div id="u0" class="ax_h1">
        <img id="u0_img" class="img " src="/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u1" class="text">
           <p><a href="/" ><span>大连理工大学校园电子商务系统</span></a></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u3" class="ax_shape">
        <img id="u3_img" class="img " src="/images/home/u3.png"/>
        <!-- Unnamed () -->
        <div id="u4" class="text">
          <p><span>校</span><span>园购物优选</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u5" class="ax_shape">
        <img id="u5_img" class="img " src="/images/register/u5.png"/>
        <!-- Unnamed () -->
        <div id="u6" class="text">
          <p><span>账户注册</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u7" class="ax_shape">
        <img id="u7_img" class="img " src="/images/register/u7.png"/>
        <!-- Unnamed () -->
        <div id="u8" class="text">
          <p><span>邮箱</span><span>地址</span></p>
        </div>
      </div>
			
      <!-- Unnamed (Shape) -->
      <div id="u9" class="ax_shape">
        <img id="u9_img" class="img " src="/images/register/u7.png"/>
        <!-- Unnamed () -->
        <div id="u10" class="text">
          <p><span>创建密码</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u11" class="ax_shape">
        <img id="u11_img" class="img " src="/images/register/u7.png"/>
        <!-- Unnamed () -->
        <div id="u12" class="text">
          <p><span>创建昵称</span></p>
        </div>
      </div>
      
		<form action="/u/register" method="post">
      <!-- Unnamed (Text Field) -->
      <div id="u13" class="ax_text_field">
        <input id="u13_input" type="text" name="account"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u14" class="ax_text_field">
        <input id="u14_input" name="name" type="text" placeholder="可包含汉字、数字、字符"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u15" class="ax_text_field">
        <input id="u15_input" type="text" name="pwd" placeholder="密码应由6-12个字符组成"/>
      </div>

      <!-- Unnamed (Shape) -->
   <!--    <div id="u16" class="ax_shape">
        <img id="u16_img" class="img " src="/images/register/u16.png"/>
        Unnamed ()
        <div id="u17" class="text">
          <p><span>邮箱验证码</span></p>
        </div>
      </div> -->

      <!-- Unnamed (Text Field) -->
     <!--  <div id="u18" class="ax_text_field">
        <input id="u18_input" type="text" value=""/>
      </div> -->

      <!-- Unnamed (HTML Button) -->
    <!--   <div id="u19" class="ax_html_button">
        <input id="u19_input" type="submit" value="获取验证码"/>
      </div> -->

      <!-- Unnamed (Shape) -->
      <div id="u20" class="ax_shape">
        <img id="u20_img" class="img " src="/images/register/u20.png"/>
        <!-- Unnamed () -->
        <div id="u21" class="text">
          <p><span>完成注册</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u22" class="ax_shape">
        <img id="u22_img" class="img " src="/images/register/u22.png"/>
        <!-- Unnamed () -->
        <div id="u23" class="text">
          <p><span>已</span><span>有账号？直接登陆</span></p>
        </div>
      </div>

      <!-- Unnamed (Flow Shape) -->
      <div id="u24" class="ax_flow_shape">
        <img id="u24_img" class="img " src="/images/register/u24.png"/>
        <!-- Unnamed () -->
        <div id="u25" class="text">
          <p><a href="/u"><span>登陆</span></a></p>
        </div>
      </div>
      
	<#if error ??>
		<font color="red">该账户已经存在！</font>
	</#if>
	
      <!-- Unnamed (Flow Shape) [reference page] -->
      <div id="u24_ref" class="reference_page"></div>

      <!-- Unnamed (Horizontal Line) -->
      <div id="u26" class="ax_horizontal_line">
        <img id="u26_start" class="img " src="/images/register/u26_start.png" alt="u26_start"/>
        <img id="u26_end" class="img " src="/images/register/u26_end.png" alt="u26_end"/>
        <img id="u26_line" class="img " src="/images/register/u26_line.png" alt="u26_line"/>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u27" class="ax_html_button">
        <input id="u27_input" type="submit" value="完成注册"/>
      </div>
      </form>
    </div>
  </body>
</html>
