body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1027px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:50px;
  width:449px;
  height:37px;
  color:#0000FF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:469px;
  top:54px;
  width:150px;
  height:33px;
  color:#993399;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}

#u66 {
  position:absolute;
  left:10px;
  top:140px;
  width:270px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:3px;
  width:216px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:10px;
  top:120px;
  width:1017px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:1000px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1017px;
  height:2px;
}
#u70 {
  position:absolute;
  left:10px;
  top:190px;
  width:1022px;
  height:455px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:142px;
  top:0px;
  width:148px;
  height:30px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:290px;
  top:0px;
  width:145px;
  height:30px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:435px;
  top:0px;
  width:145px;
  height:30px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:580px;
  top:0px;
  width:145px;
  height:30px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:725px;
  top:0px;
  width:145px;
  height:30px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:870px;
  top:0px;
  width:147px;
  height:30px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:30px;
  width:142px;
  height:140px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:140px;
}
#u86 {
  position:absolute;
  left:2px;
  top:62px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:142px;
  top:30px;
  width:148px;
  height:140px;
  color:#0000FF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:140px;
}
#u88 {
  position:absolute;
  left:2px;
  top:46px;
  width:144px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:290px;
  top:30px;
  width:145px;
  height:140px;
  color:#0000FF;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:140px;
}
#u91 {
  position:absolute;
  left:2px;
  top:62px;
  width:141px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:435px;
  top:30px;
  width:145px;
  height:140px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:140px;
}
#u94 {
  position:absolute;
  left:2px;
  top:62px;
  width:141px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:580px;
  top:30px;
  width:145px;
  height:140px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:140px;
}
#u96 {
  position:absolute;
  left:2px;
  top:62px;
  width:141px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:725px;
  top:30px;
  width:145px;
  height:140px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:140px;
}
#u98 {
  position:absolute;
  left:2px;
  top:62px;
  width:141px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:870px;
  top:30px;
  width:147px;
  height:140px;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:140px;
}
#u100 {
  position:absolute;
  left:2px;
  top:62px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:0px;
  top:170px;
  width:142px;
  height:140px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:140px;
}
#u102 {
  position:absolute;
  left:2px;
  top:62px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:142px;
  top:170px;
  width:148px;
  height:140px;
  color:#0000FF;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:140px;
}
#u104 {
  position:absolute;
  left:2px;
  top:46px;
  width:144px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:290px;
  top:170px;
  width:145px;
  height:140px;
  color:#0000FF;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:140px;
}
#u107 {
  position:absolute;
  left:2px;
  top:62px;
  width:141px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:435px;
  top:170px;
  width:145px;
  height:140px;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:140px;
}
#u110 {
  position:absolute;
  left:2px;
  top:62px;
  width:141px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:580px;
  top:170px;
  width:145px;
  height:140px;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:140px;
}
#u112 {
  position:absolute;
  left:2px;
  top:62px;
  width:141px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:725px;
  top:170px;
  width:145px;
  height:140px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:140px;
}
#u114 {
  position:absolute;
  left:2px;
  top:62px;
  width:141px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:870px;
  top:170px;
  width:147px;
  height:140px;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:140px;
}
#u116 {
  position:absolute;
  left:2px;
  top:62px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:0px;
  top:310px;
  width:142px;
  height:140px;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:140px;
}
#u118 {
  position:absolute;
  left:2px;
  top:62px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:142px;
  top:310px;
  width:148px;
  height:140px;
  color:#0000FF;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:140px;
}
#u120 {
  position:absolute;
  left:2px;
  top:46px;
  width:144px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:290px;
  top:310px;
  width:145px;
  height:140px;
  color:#0000FF;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:140px;
}
#u123 {
  position:absolute;
  left:2px;
  top:62px;
  width:141px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:435px;
  top:310px;
  width:145px;
  height:140px;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:140px;
}
#u126 {
  position:absolute;
  left:2px;
  top:62px;
  width:141px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:580px;
  top:310px;
  width:145px;
  height:140px;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:140px;
}
#u128 {
  position:absolute;
  left:2px;
  top:62px;
  width:141px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:725px;
  top:310px;
  width:145px;
  height:140px;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:140px;
}
#u130 {
  position:absolute;
  left:2px;
  top:62px;
  width:141px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:870px;
  top:310px;
  width:147px;
  height:140px;
  text-align:center;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:140px;
}
#u132 {
  position:absolute;
  left:2px;
  top:62px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:10px;
  top:460px;
  width:140px;
  height:140px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u134 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:10px;
  top:600px;
  width:140px;
  height:140px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u136 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:10px;
  top:740px;
  width:140px;
  height:140px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u138 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:900px;
  top:515px;
  width:100px;
  height:25px;
}
#u139_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u140 {
  position:absolute;
  left:900px;
  top:795px;
  width:100px;
  height:25px;
}
#u140_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u141 {
  position:absolute;
  left:900px;
  top:655px;
  width:100px;
  height:25px;
}
#u141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u142 {
  position:absolute;
  left:880px;
  top:140px;
  width:147px;
  height:30px;
  color:#0000FF;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u143 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:107px;
  top:4px;
  width:93px;
  height:22px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
}
#u146 {
  position:absolute;
  left:2px;
  top:3px;
  width:89px;
  word-wrap:break-word;
}
#u145_ref {
  position:absolute;
  left:192px;
  top:16px;
  width:1px;
  height:1px;
}
