body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1060px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:13px;
  width:449px;
  height:37px;
  color:#0000FF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:469px;
  top:17px;
  width:150px;
  height:33px;
  color:#993399;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:40px;
  top:183px;
  width:80px;
  height:70px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u6 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:350px;
  top:130px;
  width:605px;
  height:155px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:200px;
  top:0px;
  width:200px;
  height:30px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:30px;
  width:200px;
  height:120px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u15 {
  position:absolute;
  left:2px;
  top:52px;
  width:196px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:200px;
  top:30px;
  width:200px;
  height:120px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u17 {
  position:absolute;
  left:2px;
  top:52px;
  width:196px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:400px;
  top:30px;
  width:200px;
  height:120px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u19 {
  position:absolute;
  left:2px;
  top:52px;
  width:196px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:-10px;
  top:160px;
  width:1080px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:1063px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1080px;
  height:2px;
}
#u21 {
  position:absolute;
  left:150px;
  top:183px;
  width:210px;
  height:67px;
  font-size:14px;
  color:#0000FF;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:67px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:206px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:867px;
  top:290px;
  width:160px;
  height:50px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25 {
  position:absolute;
  left:0px;
  top:270px;
  width:1070px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:1053px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1070px;
  height:2px;
}
#u26 {
  position:absolute;
  left:0px;
  top:71px;
  width:1070px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:1053px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:3px;
  width:1070px;
  height:5px;
}
#u27 {
  position:absolute;
  left:0px;
  top:120px;
  width:1070px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:1053px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:3px;
  width:1070px;
  height:5px;
}
#u28 {
  position:absolute;
  left:0px;
  top:78px;
  width:190px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:45px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
